@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
body {
    box-sizing: border-box;
    background-color: #131313;
}
::placeholder {
    color: #8f39d6;
}
::selection {
    background:#7e32bd;
    color: #fff;
}
.btn-primary {
    animation: fadeInDown;
    animation-duration: 3s;
    background-color: #131313;
    border: none;
    margin: 2rem 1rem;
    padding: 1rem;
    transition: .5s;
}
.d-grid a {
    font-family: 'Ubuntu Mono', monospace;
}
.btn-primary:hover {
    background-color: #481B6C;
}
.numbers {
    color: #60268f;
}
.numbers:hover {
    color: #000;
}
.container-lg {
    margin-top: 6rem;
    color: #8f39d6;
    font-size: 1.3rem;
}
.container-lg-parrafo {
    animation: lightSpeedInLeft;
    animation-duration: 3s;
    font-family: 'Inconsolata', monospace;
    margin: 0rem 1rem;
    position: absolute;
}
.container-lg h1 {
    animation: fadeInRight;
    animation-duration: 3s;
    font-family: 'Be Vietnam Pro', sans-serif;
    top: 4rem;
    font-size: 4rem;
    position: relative;
    color: #fff;
}
.article-sobre-mi {
    border-bottom: .1rem solid #fff;
    opacity: 1;
    background-image: url(https://i.pinimg.com/originals/34/06/cc/3406cce58dd15ad098d1ac333dcc3a10.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.tittle-work {
    position: relative;
    top: 6rem;
    padding: .5rem .8rem;
    border-radius: 1rem;
background: linear-gradient(145deg, #50c4c6, #44a5a7);
box-shadow:  6px 6px 18px #286162,
             -6px -6px 18px #6effff;
    text-align: center;
    box-shadow: 0rem 0rem 1rem #7e32bd;
}
.article-work {
    height: 60vh;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.RCPJLbxfoD_IGCmLbqoGfAHaEK%26pid%3DApi&f=1);
    background-size: cover;
    background-attachment: fixed;
    border-bottom: .1rem solid #fff;
}
.container-lg-p {
    color: #fff;
    opacity: .5;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 1.5rem;
    top: 2rem;
    max-width: 35rem;
    position: relative;
    transition: .5s;
}
.container-lg-p:hover {
    opacity: 1;
}
.container-lg h1 {
    font-family: 'Roboto Mono', monospace;
    transition: .7s;
}
.h1-secondary {
    font-family: 'Raleway', sans-serif;
    opacity: .7;
}
.container-lg h1:hover {
    transform: translate(2rem);
}
.btn-lg {
    margin: 5rem 0rem;
    outline: .1rem solid #481B6C;
    color: #8f39d6;
}
.link {
    color: #a946fa;
    text-decoration: none;
}
.link:hover {
    color: #a946fa;
    opacity: .8;
}
.about-me-container {
    margin: 5rem 30rem;
    max-width: 40rem;
}
.about-me-container p {
    color: #fff;
    opacity: 1;
    transition: .5s;
}
.about-me-container a {
    text-decoration: none;
    color: #a946fa;
}
.experiencia-container {
    /* (opcion interesante) border-bottom: .1px solid #9c27fc52;*/
    margin: 1rem 45rem;
    max-width: 50rem;
}
.experienca-text {
    color: #fff;
    opacity: .7;
    transition: .5s;
}
.experienca-text:hover {
    opacity: 1;
}
.experiencia-container ul {
    list-style: none;
}
.experiencia-container li {
    display: block;
    margin: .2rem auto;
    text-align: center;
}
.experiencia-container a {
    text-decoration: none;
}
.html {
    opacity: .8;
    color: rgba(255, 115, 0, 0.849);
}
.html:hover {
    opacity: 1;
    color:rgba(255, 115, 0, 0.849)
}
.css {
    opacity: .8;
    color: rgb(42, 150, 238);
}
.css:hover {
    opacity: 1;
    color:rgb(42, 150, 238);
}
.bootstrap {
    opacity: .8;
    color: #9c27fc; 
}
.bootstrap:hover {
    opacity: 1;
    color: #9c27fc;
}
.sass {
    opacity: .8;
    color: rgb(243, 95, 231);
}
.sass:hover {
    opacity: 1;
    color:rgb(243, 95, 231);
}
.btn-html:hover {
    background-color: rgba(243, 173, 115, 0.534);
}
.btn-css:hover {
    background-color: rgba(99, 178, 243, 0.568);
}
.btn-bootstrap:hover {
    background-color: #9f39f380;
}
.btn-sass:hover {
    background-color: rgba(243, 132, 234, 0.418);
}
.hr-experiencia {
    bottom: 2.8rem;
    position: relative;
    left: 17rem;
}
.bi-translate {
    color:#9f39f380;
    width: 2rem;
    height: 1.5rem;
}
.trabajos-container {
    max-width: 50rem;
}
.trabajos-text {
    /* Glassmorphism */
    background: rgba(87, 87, 87, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    text-shadow: 0rem 0rem .2rem #000;
    color: #fff;
    opacity: 1;
    padding: 1rem;
    margin: 10rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    transition: .5s;
}
.trabajos-text a {
    text-decoration: none;
    color: #60268f;
}
#trabajos-text:hover {
    opacity: 1;
}
#trabajos-text a {
    text-decoration: none;
    color: #9c27fc;
}
.hr-04 {
    left: 19rem;
}

.redes-sociales-container {
    border-radius: 50px;
background: linear-gradient(145deg, #151515, #121212);
box-shadow:  6px 6px 18px #0f0f0f,
             -6px -6px 18px #191919;

    position: relative;
    top: 10rem;
    height: 30rem;
    padding: 2rem;
}
.redes-sociales-secundary-container {
    position: absolute;
}
.redes-sociales-container p {
    margin: 3rem auto;
    color: #fff;
}
.redes-sociales-secundary-container li {
    margin: 1rem 2rem;
    list-style: none;
}
.secundary-ul {
    width: 25rem;
    position: inherit;
    left: 25rem;
    top: 0rem;
    border-right: 0.1rem solid #60268f;
}
.secundary-ul a, .redes-sociales-secundary-container a{
    color: #fff;
    text-decoration: none;
    margin: 0rem 1rem;
}
.bi-discord, .bi-telegram, .bi-lock, .bi-instagram, .bi-github, .bi-envelope {
    height: 1.5rem;
    width: 1.5rem;
}
.bi-instagram:hover {
    color: #a200ff;
}
.bi-lock:hover {
    color: #fff;
}
.bi-envelope:hover {
    color: rgb(223, 52, 52);
}
.bi-discord:hover {
    color: rgb(59, 7, 202);
}
.bi-telegram:hover {
    color: rgb(70, 142, 235);
}
.bi-github:hover {
    color: rgb(224, 95, 19);
}
form {
    border-radius: 50px;
    background: linear-gradient(145deg, #151515, #121212);
    box-shadow:  6px 6px 18px #0b0b0b,
                -6px -6px 18px #1d1d1d;
    font-family: 'Share Tech Mono', monospace;;
    background: #161616;
    transition: .3s;
    position: relative;
    top: 15rem;
    margin: 2rem auto;
    text-align: center;
    max-width: 50rem;
    height: 60rem;
}
form:hover {
    box-shadow: 0rem 0rem 4rem .2rem #af5ef1d0;
}
.input-container h2 {
    padding: 2rem 2rem;
    font-size: 2rem;
    color: #fff;
}
.input-hr {
    width: 25rem;
}
.input-container-main input{
    width: 80%;
    position: relative;
    bottom: 3rem;
    transition: .5s;
    margin: 2rem 1rem;
    padding: 1rem;
    background: #481B6C;
    border: .1rem solid #fff;
    opacity: .5;
}
.input-container-main input[type = submit] {
    top: 2rem;
    color: #fff;
    background: #a946fa;
    transition: .4s;
}
.input-container-main input[type = submit]:hover {
    color: #8f39d6;
}
.input-container-main input:hover {
    opacity: 1;
    box-shadow: 0rem 0rem 4rem .2rem #7e32bd;
    border: .2rem solid #481B6C;
    background: #fff;
    transform: scale(1.080, 1.080);
    background: linear-gradient(to left, #8f39d5, #ccbed8);
    border-radius: 2rem;
}
.footer-container { 
    border-radius: 50px;
    background: linear-gradient(145deg, #0e0e0e, #0c0c0c);
    box-shadow:  6px 6px 18px #070707,
                -6px -6px 18px #131313;
    position: relative;
    height: 5rem;
    box-sizing: border-box;
    text-align: center;
    width: 99%;
    margin: 0;
    top: 25rem;
    background: #151515;
}
.container-content {
    margin: 1.5rem 2rem;
    color: #fff;
    text-shadow: 0rem 0rem 1rem #8f39d6;
}
#about-me {
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
    background: linear-gradient(145deg, #1e8586, #197071);
    box-shadow:  6px 6px 18px #0f4242,
                -6px -6px 18px #29b6b8;
    color: #fff;
}
.sobre-mi-article {
    position: relative;
    top: 5rem;
    height: 5rem;
    border-top: .1rem solid #481B6C;
    box-shadow: 0rem 0rem 1rem #481B6C;
}
#experienciatittle {
    color: rgb(192, 1, 255);
}
.trabajos-tittle {
    color: rgb(192, 1, 255);
}
#redes-sociales-tittle {
    color: rgb(192, 1, 255);
}
.strong-01 {
    color: #8f39d5;
}
.strong-02 {
    color: #8f39d5ce;
}
.strong-03 {
    color: #8f39d5a8;
}
.strong-04 {
    color: #8f39d563;
}
.text {
    font-family: 'Stick No Bills', sans-serif;
}
.font {
    font-family: 'Gemunu Libre', sans-serif;
}
.text-1, .text-2, .text-3 {
    /* Glassmorphism */
    background: rgba(87, 87, 87, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    padding: 1rem;
    text-shadow: 0rem 0rem .1rem #000;
    margin: 2rem 1rem;
}
